body{

font-family: 'Rubik', sans-serif;
font-size: 16px;
}

.containerheader{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
margin-top: 50px;

}

.logoBox{
width: 149px;
height: 36,23px;
display: flex
;
}
.siteName{
margin-left: 10px;
font-size: 20px;
}


.header-menu > ul{
margin-left: 157px;
display: flex;
list-style-type: none;
}
.header-menu > ul> li {
color: #4F5665;
margin-left: 40px;
}
.sign{

margin-left: 150px;
display: flex;

}
.signIn{

margin-right: 30xp;
}


.signUp {

background-color: white;
color: #F53855;
font-weight: bold;
border-color: #F53855;
border-radius: 20px;
width: 150px;
height: 45px;
margin-left: 30px;
}
.containerIntro{
margin-top: 101px;
max-width: 1200px;
display: flex;
margin-left: auto;
margin-right: auto;

}
.introTitle{
font-size: 50px;
font-weight: 500;
width: 555px;
height: 140px;
line-height: 70px;
color: #0B132A;
}
.intro-text{
line-height: 30px;
width: 523px;    
color: #4F5665;
}
.containerIntro > img{
margin-left: 30px;
}

.getStarted{

width: 250px;
height: 60px;
background: #F53838;
border-radius: 10px;
color: white;
border: none;
font-weight: bold;
line-height: 25px;
margin-top: 50px;

}
.backroundGetStarted{

position: absolute;
width: 211.83px;
height: 60px;
margin-top: -13px;
margin-left: 16px;
width: 211.83px;
height: 40px;
background: rgba(245, 56, 56, 0.35);
filter: blur(20px);
border-radius: 10px;
}

.containerthird{
position: relative;
margin-top: 50px;
max-width: 1150px;
height: 125px;
margin-right: auto;
margin-left: auto;
display: grid;
grid-template-columns: repeat(3, 380px);
background-color: white; 

}
.containerthird >div {
    
    margin-left: 25%;
    display: flex;
    align-items: center;
  
         
}

.block{
margin-left: 30px;
}

.containerthird >div:nth-child(-n+2){
    border-right: 1px solid rgb(0,0,0,0.3);
}

.backroundcontainerthird{
    position: absolute;
    width: 100%;
    height: 89.22px;
    left: 100px;
    top: 702px;
    z-index: -1;
    background: #0D1025;
    opacity: 0.06;
    filter: blur(55px);
    border-radius: 10px;
    

}
.containerfourth{ 
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
}

.container-fourth {
        margin-left: 170px;
        width: 427px;
        margin-top: auto;
    }
.container-fourth >h2{
        width: 380px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }
    .container-fourth >p{
        width: 450px;
        color: #4F5665;
        line-height: 30px;
    }

 .container-fourth > ul  >li {
     list-style-image: url('tick.svg');
  
    line-height: 30px;   
    
}
.container-fourth > ul  >li:before {
    vertical-align: middle;
}
.chooseYourPlan{
    
    text-align: center;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.chooseYourPlanBackround{

    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
    
    z-index: -1;
    background: #F6F6F6;    /*#F6F6F6;*/
    border-radius: 10px;
    opacity: 50%;
    
}
.planContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;   
    padding: 10px;
}
.planContainer > div{   
    background-color: white;
    width: 330px;
    height: 760px;
    left: 175px;
    top: 1776.55px;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;

    line-height: 40px;
    
    
}

.planContainer >div>ul> li{
    list-style-type: none;
    list-style-image: url('tickvector.svg');
    margin-left: 40px;
}
.planContainer >div>img{
    margin-left: 92.55px;
    margin-top: 80px;

}
.planContainer >div>h2{
   text-align: center;
}
.select{
text-align: center;
}
.selectButton{

    width: 177.88px;
    height: 45px;
    border-radius: 50px;
    color:#F53838;
    border-color: #F53838;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    
}
.select>p{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

}

.selectButtonPremium{

    width: 177.88px;
    height: 45px;
    border-radius: 50px;
    color:white;
    border-color: #F53838;
    font-weight: bold;
    font-size: 16px;
    background-color:#F53838;
}
.HugeGlobal{

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}
.HugeGlobal > h2{

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
    width: 383.41px;
    height: 100px;
    

   
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */

    text-align: center;

    color: #0B132A;
}

.HugeGlobal >p {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
    width: 555px;
    height: 60px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.happyCustomersText>p {

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    width: 555px;
    height: 60px;
    color: #4F5665;
}
.happyCustomersText>h2{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    width: 447.81px;
    height: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.customerComments{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;   
    padding: 60px;
 
 
}
.firstComment{
    
    width: 400px;
    height: 230px;
    border: 2px solid #F53838;
    border-radius: 10px;
    padding: 30px;
}


.secondComment{
    width: 400px;
    height: 230px;
    border:2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;
}
.thirdComment{

    width: 400px;
    height: 230px;
    border:2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;
}
.userInfo{

    display: flex;
    
}
.rates{
    display: flex;
    text-align: center;
    margin:auto;
   
}
.user{
    margin-left: 30px;
    width: 300px;
    line-height: 10px;
}
.comments{

    width: 340px;
    height: 100px;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
    margin-top: 30px;
}
.subscribeButton{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
    line-height: 25px;
    margin-top: 50px;
    margin-left: auto;
    
    
}
.subscribe{

    max-width: 1200px;
    height: 233px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.subscribeText>h2{

    width: 371.61px;
    height: 80px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}
.socialNetwork{
    width: 340px;
    position: absolute;
   
}
.siteMap{

    display: flex;
  margin-left: 600px;
    
}
.siteMap>ul>li{

    margin-left: 130px;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    width: 102px;
}

.pageEnd{
    
    
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 1200px;
   
}
.pageEndBackround{

    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
    
    z-index: -1;
    background: #F6F6F6;    /*#F6F6F6;*/
    border-radius: 10px;
    opacity: 50%;
    
}
 @media(max-width: 700px){
    .containerheader {
            display: block;
            grid-template-columns: 1fr;
            text-align: left
            
        }
    .header-menu ul {
            display: grid;           
            grid-template-columns: 1fr ;
            margin-left: -70px;
            gap: 10px;
           
            
                    }
        .sign{
            display: flex;            
            margin-left:20px;
            
        }
        .header-menu ul li {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'introText';
            font-size: 1.2rem;
            background: #4F5665;              
            color: #DDDDDD;
            padding: 0.2rem;
           
        }
        .introText h1{
            font-size: 2.5rem;
          
        }
        .introText p{
            font-size: 1.rem;
          
        }
        .containerIntro{
            grid-template-columns: 1fr;
            display: block;
        }
        .containerIntro h1{

            font-size: 2rem;
        }
        .containerIntro p{

            font-size: 1rem;
        }
        .containerIntro img{
            width: 100%;
            height: 300px;
            margin-left: 0px;
            
           
        }
        .containerthird {
         grid-template-columns: 1fr 1fr 1fr 100%;
         
        }
        .containerthird >div {
    
            margin-left: 10%;
               
        }    
        .containerfourth {
          
           
            display: block;
            
        }
        .containerfourth img {
            width: 100%;
            height: 400px;
       
        }
        .container-fourth{
            margin-left: 0px;
            grid-template-columns: 1fr;
            width: 100%;
        }
        .planContainer{
            display: block;
            margin-left: 15%;
        }
        .containerthird >div:nth-child(-n+2) {
             border-right: none;
        }
       

 }